<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
        <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/paging.js"></script>
        <script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
    </head>
        <title>样本编码产品关联表</title>
<body>
<div class="chuda_co" id="container">
    <div class="co-box">
        <div class="title">
            <h4>报告管理>>样本编码产品关联表</h4>
        </div>
        <div class="right container">
            <div class="bm_list">
            <p class="bott">
                <textarea name=""  placeholder="更新状态，同时推送短信，编码单竖线分割" id="codes"></textarea>
                状态选择：<select name="" id="status">
                            <option>请选择</option>
                            <option value="2">采集盒已经寄出，请注意查收！</option>
                            <option value="3">回寄样本已经收到，马上安排提取DNA，请耐心等待！</option>
                            <option value="4">DNA已经提取成功，并且质检合格，马上上机检测</option>
                            <option value="5">检测已经完成，正在为您准备报告！</option>
                            <option value="6">报告已生成</option>
                            <option value="7">报告延迟</option>
                        </select>
                <a href="javascript:;" class="btn02" id="status_btn">提交</a>
            </p>
            </div>

            <div class="custom-info">
                <div class="info-box">
                    <ul class="ul-datetime">
                        <li>
                            <input type="text" placeholder="请输入" class="w200" id="text">
                        </li>
                        <li><a class="btn07" id="search">查询</a></li>
                    </ul>
                </div>
            </div>
            <!--detail start-->
            <div class="co-detail clearfix">
                <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>编号</th>
                        <th>样本编码</th>
                        <th>检测panel</th>
                        <th>受检者姓名</th>
                        <th>受检者性别</th>
                        <th>受检者年龄</th>
                        <th>手机</th>
                        <th>email</th>
                        <th>产品ID</th>
                        <th>产品名称</th>
                        <th>渠道名称</th>
                        <th>状态</th>
                        <th>回寄地址</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="data"></tbody>
                </table>
                <!--分页 start-->
                <div id="page" class="page_div"></div>
                <!--分页 end-->
            </div>
            <!--detail end-->
        </div>
    </div>
</div>
<div class="pop_layer add-mess">
    <div class="fill-info pop-layer-box">
        <h3 class="title-big">修改班级信息</h3><a class="pop-close">X</a>
        <div class="info-box">
            <ul>
                <li>
                    <label>ID：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>编码：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>样本类型：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>送检日期：</label>
                    <input type="datetime-local" name="" class="w200 " value="">
                </li>
                <li>
                    <label>检测panel：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>姓名：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>手机：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>产品ID：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>产品名称：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>渠道ID：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>渠道名称：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>销售负责人：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>联系方式：</label>
                    <input type="text" name="" class="w200 " value="">
                </li>
                <li>
                    <label>应出报告日期：</label>
                    <input type="datetime-local" name="" class="w200 " value="">
                </li>
                <li>
                    <label>更新状态：</label>
                    <input type="radio" name="name" class="" value="1" checked>启用&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="name" class="" value="2">禁用
                </li>
                <li>
                    <label>推送状态：</label>
                    <input type="radio" name="name2" class="" value="1" checked>启用&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="name2" class="" value="2">禁用
                </li>
                <li>
                    <label>解读日期：</label>
                    <input type="datetime-local" name="" class="w200 name" value="">
                </li>
            </ul>
        </div>
        <div class="preview"> <a class="preview-btn btn04">保存</a> <a class="cancel-btn btn04">取消</a> </div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/sample_list.js"></script>