<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>天平永达后台系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/chuda01-style.css" />
</head>

<body>
<iframe width="100%" name="main" height="90px" scrolling="auto" frameborder="0" src="{$url}/Index/top" style="position:fixed;top:0; left:0"></iframe>
<div class="" style=" padding-top:90px">
	<div class="" style="width:18%; float:left;">
		<iframe src="{$url}/Index/left" width="100%" onload="setIframeHeight(this)" name="leftFrame" id="leftFrame" scrolling="No" title="leftFrame"  frameborder="0" framespacing="0" /></iframe>
	</div>
	<div style="float:right; width:82%;" >
    	<iframe src="{$url}/Index/right" width="100%" onload="setIframeHeight(this)" name="rightFrame" id="rightFrame" scrolling="auto" title="rightFrame" frameborder="0" framespacing="0" /></iframe>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/index.js"></script>
<script type="text/javascript" language="JavaScript" src="__PUBLIC__/js/jquery.js"></script>