<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>左侧菜单</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
</head>
<body>
<div class="left_slide_nav">
  <div class="business">
      <dl class="dl_list">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">权限管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/xzgly" target="rightFrame">新增用户</a></dd>
          <dd><a href="{$url}/Index/gly_list" target="rightFrame">用户列表</a></dd>
          <dd><a href="{$url}/Index/xzjs" target="rightFrame">新增角色</a></dd>
          <dd><a href="{$url}/Index/js_list" target="rightFrame">角色列表</a></dd>
          <dd><a href="{$url}/Index/xzqx" target="rightFrame">新增权限</a></dd>
          <dd><a href="{$url}/Index/qxlb" target="rightFrame">权限列表</a></dd>
          <!--当前页面导航条dl添加class为dl_height,dt添加class为dl_open,dd添加class为dd_current-->
      </dl>
      <dl class="dl_list">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">编码管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/bm_list" target="rightFrame">编码列表</a></dd>
          <dd><a href="{$url}/Index/bmfz" target="rightFrame">编码分组</a></dd>

          <dd><a href="{$url}/Index/bmsc" target="rightFrame">编码生成</a></dd>
          <dd><a href="{$url}/Index/xzbm" target="rightFrame">新增编码</a></dd>
          <!--当前页面导航条dl添加class为dl_height,dt添加class为dl_open,dd添加class为dd_current-->
      </dl>
      <dl class="dl_list">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">数据导入</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/results_import" target="rightFrame">信息结果导入</a></dd>
          <!--<dd><a href="{$url}/Index/scale_import" target="rightFrame">量表信息导入</a></dd>-->
      </dl>
      <dl class="dl_list dl_3">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">订单报告管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/sns_check" target="rightFrame">检测结果解读</a></dd>
          <dd><a href="{$url}/Index/sns_read" target="rightFrame">用户报告列表</a></dd>
          <dd><a href="{$url}/Index/sample_list" target="rightFrame">用户信息列表</a></dd>
      </dl>
      <dl class="dl_list dl_3">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">产品管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/product_list" target="rightFrame">产品列表</a></dd>
          <dd><a href="{$url}/Index/project_list" target="rightFrame">项目列表</a></dd>
          <dd><a href="{$url}/Index/site_list" target="rightFrame">位点列表</a></dd>
      </dl>
      <dl class="dl_list dl_3">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">渠道管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/qd_add" target="rightFrame">渠道添加</a></dd>
          <dd><a href="{$url}/Index/qd_list" target="rightFrame">渠道列表</a></dd>
      </dl>
      <dl class="dl_list dl_3">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">API管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/api_list" target="rightFrame">API列表</a></dd>
      </dl>
      <dl class="dl_list dl_3">
          <dt class="dl_open"><span class="expend_icon"></span><a href="javascript:;">密码管理</a></dt><!--打开状态替换close为open-->
          <dd><a href="{$url}/Index/xgmm" target="rightFrame">修改密码</a></dd>
      </dl>
  </div>
</div>

</body>
</html>
