<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登陆后主页面</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
</head>

<body>
<div class="chuda_co" id="container">
    	<div class="title">
      		<h4>首页</h4>
    	</div>
        <div class="right">
		<div class="welinfo">
    		<span><img src="images/sun.png" alt="天气"></span>
    		<b>Admin&nbsp;&nbsp;您好，欢迎使用天平管理系统</b>(admin@uimaker.com)
    		<a href="#">帐号设置</a>
    	</div>
        <div class="welinfo">
    		<span><img src="images/time.png" alt="时间"></span>
    		<i>您上次登录的时间：2013-10-09 15:22</i> （不是您登录的？<a href="xgmm.html">请点这里</a>）
    	</div>
        <div class="welcome">欢迎使用天平永达后台管理系统</div>
    </div>
</div>
</body>
</html>
