<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>量表信息导入</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
</head>
<body>
<div class="chuda_co" id="container">
    <div class="co-box">
        <div class="title">
            <h4>数据导入>>量表信息导入</h4>
        </div>
        <div class="right container">
            <div class="custom-info-1">
                <div class="info-box">
                    <h4>通用健康评估量表上传</h4>
                    <ul class="ul-datetime">
                        <li class="sl-custom-file">
                            <label for=""></label>
                            <input type="button" value="选择文件" class="btn-file"/>
                            <input type="file" class="ui-input-file" />
                        </li>
                        <li>
                            <a href="javascript:;" class="btn-sub">提交</a>
                        </li>
                        <a href="" class="load">点击下载模版</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right container">
            <div class="custom-info-1">
                <div class="info-box">
                    <h4>减重健康评估量表上传</h4>
                    <ul class="ul-datetime">
                        <li class="sl-custom-file">
                            <label for=""></label>
                            <input type="button" value="选择文件" class="btn-file"/>
                            <input type="file" class="ui-input-file" />
                        </li>
                        <li>
                            <a href="javascript:;" class="btn-sub">提交</a>
                        </li>
                        <a href="" class="load">点击下载模版</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right container">
            <div class="custom-info-1">
                <div class="info-box">
                    <h4>美肤健康评估量表上传</h4>
                    <ul class="ul-datetime">
                        <li class="sl-custom-file">
                            <label for=""></label>
                            <input type="button" value="选择文件" class="btn-file"/>
                            <input type="file" class="ui-input-file" />
                        </li>
                        <li>
                            <a href="javascript:;" class="btn-sub">提交</a>
                        </li>
                        <a href="" class="load">点击下载模版</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right container">
            <div class="custom-info-1">
                <div class="info-box">
                    <h4>脱发健康评估量表上传</h4>
                    <ul class="ul-datetime">
                        <li class="sl-custom-file">
                            <label for=""></label>
                            <input type="button" value="选择文件" class="btn-file"/>
                            <input type="file" class="ui-input-file" />
                        </li>
                        <li>
                            <a href="javascript:;" class="btn-sub">提交</a>
                        </li>
                        <a href="" class="load">点击下载模版</a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="right container">
            <div class="custom-info-1">
                <div class="info-box">
                    <h4>儿童健康评估量表上传</h4>
                    <ul class="ul-datetime">
                        <li class="sl-custom-file">
                            <label for=""></label>
                            <input type="button" value="选择文件" class="btn-file"/>
                            <input type="file" class="ui-input-file" />
                        </li>
                        <li>
                            <a href="javascript:;" class="btn-sub">提交</a>
                        </li>
                        <a href="" class="load">点击下载模版</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>