<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>忘记密码</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
    <link rel="stylesheet" href="__PUBLIC__/css/style.css">
</head>

<body class="login">
<div class="" id="container" style="">
    <div class="co-box co-box01 login_boder" style="position: relative;">
        <div class="title-1"><h5>忘记密码</h5></div>
        <div class="fill-info">
            <div class="info-box">
                <ul>
                    <li>
                        <label>手机号：</label>
                        <input type="text" name="phone" id="phone" class="w200 phone" value="" placeholder="请输入手机号">
                    </li>
                    <li style="position: relative">
                        <label>验证码：</label>
                        <input type="text" name="code" id="code" class="w200 phone" value="" placeholder="请输入验证码">
                        <!--<a class="btn06"  id="btn" value="" >获取验证码</a>-->
                        <input class="checkCode Code btn06" type="button" id="btn" value="获取验证码" />
                    </li>
                    <li>
                        <div id="mpanel4" style="display: none;"></div>
                    </li>
                    <li>
                        <label>新密码：</label>
                        <input type="text" name="new_pwd" id="password" class="w200 new_pwd" value="" placeholder="请输入新密码">
                    </li>
                    <li>
                        <label>确认密码：</label>
                        <input type="text" name="confirm_pwd" id="pwdAgain" class="w200 confirm_pwd" value="" placeholder="请再次输入新密码">
                    </li>

                </ul>
            </div>
            <div class=""> <a class="sub_button" id="submit">确认</a></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/verify.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/wjmm.js"></script>
</body>
</html>

