<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>角色列表</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
    <div class="title">
      <h4>权限管理>>角色列表</h4>
    </div>
    <div class="right"> 
    	<a class="btn09" href="{$url}/Index/xzjs">新增角色</a>
      <!--detail start-->
      <div class="co-detail clearfix"> 
        <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th>角色ID</th>
                <th>角色名称</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
      </div>
      <!--detail end--> 
    </div>
  </div>
</div>
<div class="pop_layer add-mess">
  <div class="fill-info pop-layer-box">
    <h3 class="title-big">修改角色</h3><a class="pop-close">X</a>
    <div class="info-box">
      <ul>
        <li>
          <label>角色名：</label>
          <input type="text" name="name" class="w200 name" id="roleName" value="">
        </li>
        <li>
          <label>权限ID：</label>
          <textarea name="" id="permission" placeholder="用竖线隔开输入多个Id" style="height: 100px;width: 200px"></textarea>
        </li>
      </ul>
    </div>
    <div class="preview"> <span id="updBtn"></span> <a class="cancel-btn btn04">取消</a> </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/js_list.js"></script>