<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分配权限</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
</head>

<body>
<div class="chuda_co" id="container">
    <div class="co-box">
        <div class="title">
            <h4>权限管理>>权限列表</h4>
        </div>
        <div class="fill-info">
            <div class="right">
                <a class="btn03" id="xg_btn" href="xzqx.html:;">新增权限</a>
                <div class="info-box">
                    <ul>
                        <li>
                            <!--<label>权限列表：</label>-->
                            <div class=" " id="data"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pop_layer add-mess">
    <div class="fill-info pop-layer-box">
        <h3 class="title-big">修改权限</h3><a class="pop-close">X</a >
        <div class="info-box">
            <ul>
                <li>
                    <label>权限名称：</label>
                    <input type="text" id="permissionName" class="w200 name" value="">
                </li>
                <li>
                    <label>父级权限：</label>
                    <select class="w200" id="select_parent"></select>
                </li>
                <li>
                    <label>控制器名：</label>
                    <input type="text" id="actionName" class="w200 name" value="">
                </li>
                <li>
                    <label>方法名：</label>
                    <input type="text" id="functionName" class="w200 name" value="">
                </li>
                <li>
                    <label>权限所属：</label>
                    <input type="radio" id="type" name="radio" class="type" value="0">&nbsp;&nbsp;前端路由&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" id="type" name="radio" class="type" value="1">&nbsp;&nbsp;接口
                </li>
            </ul>
        </div>
        <div class="preview"><span id="operation"></span>&nbsp;&nbsp;&nbsp;&nbsp;<a class='cancel-btn btn04'>取消</a ></div>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/qxlb.js"></script>
