<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增用户</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
  <div class="title"><h4>权限管理>>新增用户</h4></div>
<div class="fill-info">
    <div class="right">
        <a class="btn02" href="gly_list.html">管理员列表</a>
    <div class="info-box01">
      <ul>
        <li>
          <label>用户名：</label>
          <input type="text" name="uname" class="w200 uname" value="">
        </li>
          <li>
              <label>性别：</label>
              <input type="text" name="sex" class="w200 sex" value="">
          </li>
          <li>
              <label>手机号：</label>
              <input type="text" name="phone" class="w200 phone" value="">
          </li>
          <li>
              <label>所属渠道：</label>
              <select name="channel" id="channel" class="w200 channel">
                  <option value="">111</option>
                  <option value="">222</option>
                  <option value="">333</option>
              </select>
          </li>
          <li>
              <label>角色：</label>
              <select name="role" id="role" class="w200 role">
                  <option value="">管理员1</option>
                  <option value="">管理员2</option>
                  <option value="">管理员3</option>
              </select>
          </li>
          <li>
              <label>企业编号：</label>
              <input type="text" name="phone" class="w200 phone" value="">
          </li>
      </ul>
    </div>
    <div class="info-box02">
      <ul>
        <li>
          <label>真实姓名：</label>
          <input type="text" name="real-name" class="w200 real-name" value="">
        </li>
          <li>
              <label>年龄：</label>
              <input type="text" name="age" class="w200 age" value="">
          </li>
          <li>
              <label>邮箱地址：</label>
              <input type="text" name="mobile" class="w200 mobile" value="">
          </li>
          <li>
              <label>职务：</label>
              <input type="text" name="duties" class="w200 duties" value="">
          </li>
          <li>
              <label>初始密码：</label>
              <input type="text" name="start-pwd" class="w200 start-pwd" value="">
          </li>
          <li>
              <label>用户ID：</label>
              <input type="text" name="user-id" class="w200 user-id" value="">
          </li>
      </ul>
    </div>
    <div class="preview">
        <a class="preview-btn btn01">提交</a>
    </div>
  </div>
</div>
</div>
</div>
</body>
</html>
