<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增权限</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
</head>
<body>
<div class="chuda_co" id="container">
  <div class="co-box">
	<div class="title"><h4>权限管理>>新增权限</h4></div>
<div class="fill-info">
    <div class="right">
        <a class="btn02" id="xg_btn" href="{$url}/Index/qxlb">权限列表</a>
    <div class="info-box">
      <ul>
          <!--  父类的权限填写表单 -->
          <div>
            <li>
              <label>权限名称：</label>
              <input type="text" id="permissionName" class="w200 name" value="">
            </li>
            <li>
                <label>父级权限：</label>
                <select class="w200" id="select_parent"></select>
            </li>
            <li>
              <label>控制器名：</label>
              <input type="text" id="actionName" class="w200 name" value="">
            </li>
            <li>
              <label>方法名：</label>
              <input type="text" id="functionName" class="w200 name" value="">
            </li>
             <li>
                  <label>权限所属：</label>
                  <input type="radio" id="type"  value="0">&nbsp;&nbsp;前端路由&nbsp;&nbsp;&nbsp;&nbsp;
                  <input type="radio" id="type"  value="1">&nbsp;&nbsp;接口
              </li>
          </div>
      </ul>
    </div>
    <div class="preview">
        <a class="preview-btn btn01" id="button">提交</a>
        <!--<a class="cancel-btn btn01">取消</a>-->
    </div>
  </div>
</div>
</div>
    </div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/xzqx.js"></script>



