<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>新增编码</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
<link href="__PUBLIC__/css/css_date/mobiscroll_date.css" rel="stylesheet" />
<script src="__PUBLIC__/js/js_date/jquery.min.js"></script>
<script src="__PUBLIC__/js/js_date/mobiscroll_date.js" charset="gb2312"></script>
<script src="__PUBLIC__/js/js_date/mobiscroll.js"></script>
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
	<div class="title"><h4>渠道管理>>渠道添加</h4></div>
<div class="fill-info">
    <div class="info-box">
        <ul>
            <li>
                <label>渠道编码：</label>
                <input type="text" name="qd_numbern" id="code" class="w200" value="">
            </li>
            <li>
                <label>渠道名称：</label>
                <input type="text" name="qd_name" id="name" class="w200" value="">
            </li>
            <li>
                <label>渠道地址：</label>
                <input type="text" name="address" id="address" class="w200" value="">
            </li>
            <li>
                <label>渠道邮编：</label>
                <input type="text" name="zipCode" id="zipCode" class="w200" value="">
            </li>
            <li>
                <label>渠道级别：</label>
                <select class="w200">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
            </li>
            <li>
                <label>渠道负责人：</label>
                <input type="text" name="qd_header" class="w200 qd_header" value="">
            </li>
            <li>
                <label>渠道负责人电话：</label>
                <input type="text" name="qd_phone" class="w200 qd_phone" value="">
            </li>
            <li>
                <label>我方对接人：</label>
                <input type="text" name="qd_our_header" class="w200 qd_our_header" value="">
            </li>
            <li>
                <label>创建时间：</label>
                <input type="text" name="USER_AGE" id="USER_AGE" class="w200" readonly value=""/>
            </li>

        </ul>
    </div>
    <div class="preview">
        <a class="preview-btn btn05">提交</a>
        <a class="cancel-btn btn05">取消</a>
    </div>
  </div>
</div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        var currYear = (new Date()).getFullYear();
        var opt={};
        opt.date = {preset : 'date'};
        opt.datetime = {preset : 'datetime'};
        opt.time = {preset : 'time'};
        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式
            mode: 'scroller', //日期选择模式
            dateFormat: 'yyyy-mm-dd',
            lang: 'zh',
            showNow: true,
            nowText: "今天",
            startYear: currYear - 50, //开始年份
            endYear: currYear + 10 //结束年份
        };

        $("#USER_AGE").mobiscroll($.extend(opt['date'], opt['default']));

    });
</script>
