<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>渠道管理</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/paging.js"></script>
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
    <div class="title">
      <h4>渠道管理>>渠道列表</h4>
    </div>
    <div class="right container">
        <div class="custom-info">
            <div class="info-box">
                <ul class="ul-datetime">
                    <li>
                        <label>渠道负责人/电话：</label>
                        <input type="text" class="w200" id="text">
                    </li>
                    <li><a class="btn07" id="search">查询</a></li>
                    <a class="btn09" href="{$url}/Index/qd_add">渠道添加</a>
                    <!--<a class="btn02" href="">批量删除</a>-->
                </ul>
            </div>
        </div>
      <!--detail start-->
      <div class="co-detail clearfix"> 
        <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
            <thead>
              <tr>
                <th>序号</th>
                <th>渠道编号</th>
                <th>渠道名称</th>
                <th>创建时间</th>
                <th>渠道状态</th>
                <th>渠道级别</th>
                <th>渠道负责人</th>
                <th>渠道负责人电话</th>
                <th>渠道负责人邮箱</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody id="data"></tbody>
          </table>
          <!--分页 start-->
          <div id="page" class="page_div"></div>
          <!--分页 end-->
      </div>
      <!--detail end--> 
    </div>
  </div>
</div>
<div class="pop_layer add-mess">
  <div class="fill-info pop-layer-box">
    <h3 class="title-big">修改渠道</h3><a class="pop-close">X</a>
    <div class="info-box">
      <ul>
          <li>
              <label>渠道编码：</label>
              <input type="text" name="qd_numbern" id="code" class="w200" value="">
          </li>
          <li>
              <label>渠道名称：</label>
              <input type="text" name="qd_name" id="name" class="w200" value="">
          </li>
          <li>
              <label>渠道地址：</label>
              <input type="text" name="address" id="address" class="w200" value="">
          </li>
          <li>
              <label>渠道邮编：</label>
              <input type="text" name="zipCode" id="zipCode" class="w200" value="">
          </li>
          <li>
              <label>渠道官方邮箱：</label>
              <input type="text" name="zipCode" id="email" class="w200" value="">
          </li>
          <li>
              <label>渠道级别：</label>
              <select class="w200" id="label">
                  <option value="">---请选择---</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
              </select>
          </li>
          <li>
              <label>渠道负责人：</label>
              <input type="text" name="qd_header" id="linkman" class="w200 qd_header" value="">
          </li>
          <li>
              <label>渠道负责人邮箱：</label>
              <input type="text" name="qd_header" id="linkmanEmail" class="w200 qd_header" value="">
          </li>
          <li>
              <label>渠道负责人电话：</label>
              <input type="text" name="qd_phone" id="linkmanPhone" class="w200 qd_phone" value="">
          </li>
      </ul>
    </div>
    <div class="preview"> <span id="operation"></span>&nbsp;&nbsp;<a class="cancel-btn btn05">取消</a> </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/qd_list.js"></script>