<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>编码列表</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
  <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/paging.js"></script>

</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
    <div class="title">
      <h4>编码管理>>编码列表</h4>
    </div>
    <div class="right">
      <p class="bm_list">
        <textarea name="" id="codeText" placeholder="用竖线隔开输入多个编码" ></textarea>
        <a href="javascript:;" id="search" class="btn02">查询</a>
      </p>
      <a class="btn05" href="{$url}/Index/bmsc">编码生成</a>
      <a class="btn05" id="xg_btn">出库</a>
      <!--detail start-->
      <div class="co-detail clearfix">
        <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <th>全选&nbsp;<input type='checkbox' id="all"/></th>
            <th>ID</th>
            <th>编码</th>
            <th>产品</th>
            <th>渠道</th>
            <th>分组</th>
            <th>状态</th>
            <th>更新时间</th>
          </tr>
          </thead>
          <tbody id="data"></tbody><!--<td class="operation"><a class="edit">删除</a></td>-->
        </table>
        <!--分页 start-->
        <div id="page" class="page_div"></div>
        <!--分页 end-->
      </div>
      <!--detail end-->
    </div>
  </div>
</div>
<div class="pop_layer add-mess">
  <div class="fill-info pop-layer-box">
    <h3 class="title-big">出库</h3><a class="pop-close">X</a>
    <div class="info-box">
      <ul>
        <li>
          <label>编码：</label>
          <textarea name="" id="code" placeholder="用竖线隔开输入多个编码" style="height: 100px;width: 200px"></textarea>
        </li>
        <li>
          <label>产品：</label>
          <select class="w200" id="productId"></select>
        </li>
        <li>
          <label>渠道：</label>
          <select class="w200" id="channelId"></select>
        </li>
      </ul>
    </div>
    <div class="preview">
      <a class="preview-btn btn05" id="btn">提交</a>
      <a class="cancel-btn btn05">取消</a>
    </div>
    <div style="padding:10px">
      <p>未出库:代表样本已经生成，可以分配渠道产品;</p>
      <p>已出库:代表编码已经寄出,或已经下发给渠道;</p>
    </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/bm_list.js"></script>
