<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>编码分组</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
  <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
  <script type="text/javascript" src="__PUBLIC__/js/paging.js"></script>
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
    <div class="title">
      <h4>编码管理>>编码分组</h4>
    </div>
    <div class="right container">
      <div class="co-detail clearfix">
        <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
          <thead>
          <tr>
            <th>全选 <input type="checkbox" id="groupAll"></th>
            <th>批次</th>
            <th>个数</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody id="data"></tbody>
        </table>
        <div class="btn_div">
          <button class="export_btn" id="allExcel">导出Excel</button>
        </div>
        <!--分页 start-->
        <div id="page" class="page_div"></div>
        <!--分页 end-->
      </div>
      <!--detail end-->
    </div>
  </div>
</div>
<div class="pop_layer add-mess">
  <div class="fill-info pop-layer-box">
    <h3 class="title-big">更新编码状态</h3><a class="pop-close">X</a>
    <div class="info-box">
      <ul>
        <li>
          <label>产品：</label>
          <select class="w200" id="productId"></select>
        </li>
        <li>
          <label>渠道：</label>
          <select class="w200" id="channelId"></select>
        </li>
      </ul>
    </div>
    <div class="preview">
      <span id="replace"></span>
      <a class="cancel-btn btn05">取消</a>
    </div>
    <div style="padding:10px">
      <p>未出库:代表样本已经生成，可以分配渠道产品;</p>
      <p>已出库:代表编码已经寄出,或已经下发给渠道;</p>
    </div>
  </div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/bmfz.js"></script>