<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>编码生成</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
</head>

<body>
<div class="chuda_co" id="container">
  <div class="co-box">
	<div class="title"><h4>编码管理>>编码生成</h4></div>
<div class="fill-info">
    <div class="info-box">
        <ul>
            <li>
                <label>生成数量：</label>
                <input type="text" name="num" id="num" class="w200 name" placeholder="请输入1~10000之间的数字" value="">
            </li>
            <li>
                <label>产品：</label>
                <select class="w200" id="productId"></select>
            </li>
            <li>
                <label>渠道：</label>
                <select class="w200" id="channelId"></select>
            </li>
        </ul>
    </div>
    <div class="preview">
        <a class="preview-btn btn05" id="btn">提交</a>
        <a class="cancel-btn btn05" id="outbtn">取消</a>
    </div>
  </div>
</div>
</div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/bmsc.js"></script>
