<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>位点列表</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/erweima-style.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/paging.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
    <style>
        .content{
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width:100px;
        }
    </style>
    <script>
        function overShow(obj,e) {
            var showDiv = document.getElementById('showDiv');
            var theEvent = window.event|| e;
            showDiv.style.left = theEvent.clientX+"px";
            showDiv.style.top = theEvent.clientY+"px";
            showDiv.style.display = 'block';
            //alert(obj.innerHTML);
            showDiv.innerHTML = obj.innerHTML;
        }

        function outHide() {
            var showDiv = document.getElementById('showDiv');
            showDiv.style.display = 'none';
            showDiv.innerHTML = '';
        }
    </script>
</head>

<body>
<div class="chuda_co" id="container">
    <div class="co-box">
        <div class="title">
            <h4>项目管理>>位点列表</h4>
        </div>
        <div class="right container">
            <div class="custom-info">
                <div class="info-box">
                    <ul class="ul-datetime">
                        <li>
                            <input type="text" placeholder="位点编号/基因名称/rs号搜索" class="w300" id="text">
                        </li>
                        <li><a class="btn07" id="search">查询</a></li>
                        <a class="btn09" id="xg_btn">添加</a>
                    </ul>
                </div>
            </div>
            <!--detail start-->
            <div class="co-detail clearfix">
                <table class="tablelist" border="0" cellpadding="0" cellspacing="0">
                    <thead>
                    <tr>
                        <th>位点ID</th>
                        <th>项目编号</th>
                        <th>基因名称</th>
                        <th>rs号</th>
                        <th>描述</th>
                        <th>野生型</th>
                        <th>突变型</th>
                        <th>ww基因型频率</th>
                        <th>wm基因型频率</th>
                        <th>mm基因型频率</th>
                        <th>ww描述</th>
                        <th>wm描述</th>
                        <th>mm描述</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="data"></tbody>
                </table>
                <!--分页 start-->
                <div id="page" class="page_div"></div>
                <!--分页 end-->
            </div>
            <!--detail end-->
        </div>
    </div>
</div>
<div class="pop_layer add-mess">
    <div class="fill-info pop-layer-box">
        <h3 class="title-big">修改位点</h3><a class="pop-close">X</a>
        <div class="info-box">
            <ul>
                <li>
                    <label>基因名称：</label>
                    <input type="text" name="name" class="w200 gene" id="gene" value="">
                </li>
                <li>
                    <label>rs号：</label>
                    <input type="text" name="name" class="w200 origincode" id="origincode" value="">
                </li>
                <li>
                    <label>项目ID：</label>
                    <input type="text" name="name" class="w200 itemid" id="itemid" value="">
                </li>
                <li>
                    <label>描述：</label>
                    <textarea name="" id="gene_text" placeholder="用竖线隔开输入多个编码" style="height: 100px;width: 200px"></textarea>
                </li>
                <li>
                    <label>野生型：</label>
                    <input type="text" name="name" class="w200 wild_type" id="wild_type" value="">
                </li>
                <li>
                    <label>突变型：</label>
                    <input type="text" name="name" class="w200 mutant_type" id="mutant_type" value="">
                </li>
                <li>
                    <label>ww基因型频率：</label>
                    <input type="text" name="name" class="w200 genotype_value_ww" id="genotype_value_ww" value="">
                </li>
                <li>
                    <label>wm基因型频率：</label>
                    <input type="text" name="name" class="w200 genotype_value_wm" id="genotype_value_wm" value="">
                </li>
                <li>
                    <label>mm基因型频率：</label>
                    <input type="text" name="name" class="w200 genotype_value_mm" id="genotype_value_mm" value="">
                </li>
                <li>
                    <label>ww描述：</label>
                    <input type="text" name="name" class="w200 risk_desc_ww" id="risk_desc_ww" value="">
                </li>
                <li>
                    <label>wm描述：</label>
                    <input type="text" name="name" class="w200 risk_desc_wm" id="risk_desc_wm" value="">
                </li>
                <li>
                    <label>mm描述：</label>
                    <input type="text" name="name" class="w200 risk_desc_mm" id="risk_desc_mm" value="">
                </li>
            </ul>
        </div>
        <div class="preview"> <span id="huan"></span> <a class="cancel-btn btn04">取消</a> </div>
    </div>
</div>
<div id="showDiv" style="position: absolute; background-color: white; border: 1px solid black;"></div>
</body>
</html>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js_logic/site_list.js"></script>